<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<nav class="ui fixed menu" th:fragment="header">
    <div class="ui container">
        <a href="/" class="header item logo">Insurance Order</a>
        <a class="header item logo">＞</a>
        <a href="/action/order/accept?insuranceType=treat" class="header item logo">ご加入条件確認</a>
        <a class="header item logo">＞</a>
        <a class="header item logo">本人情報入力</a>
        <a class="header item logo">＞</a>
        <a  class="header item logo">勤務先情報入力</a>

    </div>
</nav>
<div>

</div>
</body>
</html>